body {
    font-family: monospace;
}

#name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 40px;
}

#subtitulo {
    text-align: center;
    font-size: 18px;
}

#main {
    background-color: rgb(233, 230, 230);
    border-radius: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#img-div {
    background-color: whitesmoke;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 1%;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    max-width: 100%;
}

.font-info {
    text-align: center;
    font-size: 16px;
}

.font-info-content {
    font-size: 16px;
    text-align: justify;
    margin-right: 25px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
}